@{
    ViewData["Title"] = "Bangazon!";
}

<h2>Welcome to Bangazon MVC</h2>

<p>This is a CRUD app that will allow you to manipulate data about customers, orders, products, and payment options within the Bangazon ordering system.</p>